.contact_section {
    border-top: 4px solid #5CA353 !important; }
.contact_section h5 {
    font-family: RalewayR;
    text-transform: uppercase; }
.contact_section .vc_separator h4 {
    font-size: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    color: #00458d; }
.contact_section .vc_icon_element .vc_icon_element-inner {
    width: 67px !important;
    height: 67px !important; }
.contact_section h3 {
    text-transform: uppercase;
    font-family: OpenSans !important; }
.contact_section p {
    text-align: center;
    color: #8b8b8b;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 1.4 !important; }
.contact_section .single_image_footer {
    border-top: 2px solid #dddcdc !important; }

.footer_side .image_footer_full_size img {
    display: inline-block;
    margin-top: -45px; }
.footer_side .text_title p {
    font-size: 33px;
    font-family: RalewayR;
    color: #102c49;
    text-transform: uppercase;
    padding-top: 30px; }
.footer_side .text_title p strong {
    color: #fff;
    font-weight: normal; }

.blue_footer .footer_box_1, .blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
    color: #fff;
    font-family: OpenSans;
    position: relative;
    z-index: 999; }
.blue_footer .footer_box_1 h5, .blue_footer .footer_box_2 h5, .blue_footer .footer_box_3 h5, .blue_footer .footer_box_4 h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    padding: 0 0 26px 0; }
.blue_footer .footer_box_1 p, .blue_footer .footer_box_1 a, .blue_footer .footer_box_1 a:hover, .blue_footer .footer_box_2 p, .blue_footer .footer_box_2 a, .blue_footer .footer_box_2 a:hover, .blue_footer .footer_box_3 p, .blue_footer .footer_box_3 a, .blue_footer .footer_box_3 a:hover, .blue_footer .footer_box_4 p, .blue_footer .footer_box_4 a, .blue_footer .footer_box_4 a:hover {
    line-height: 1.3;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
.blue_footer .footer_box_3 p a i {
    width: 20px;
    line-height: 1.5; }
.blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    background: transparent;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #3e6b9c;
    height: 30px;
    width: 100%; }
.blue_footer .footer_box_4 label {
    display: none; }
.blue_footer .footer_box_4 input:focus, .blue_footer .footer_box_4 textarea:focus, .blue_footer .footer_box_4 input:visited, .blue_footer .footer_box_4 textarea:visited {
    outline: 0; }
.blue_footer .footer_box_4 textarea {
    height: 70px; }
.blue_footer .footer_box_4 button[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    height: 30px;
    padding: 8px;
    background-color: #439539;
    font-family: OpenSans;
    border-radius: 0; }
.blue_footer .footer_box_4 div {
    padding: 0; }
.blue_footer .wpb_single_image.wpb_content_element.vc_align_center {
    position: absolute;
    left: 0;
    right: 0;
    top: 103px;
    background: #053264;
    z-index: 1;
    text-align: center; }
.blue_footer .wpb_single_image.wpb_content_element.vc_align_center figure.wpb_wrapper.vc_figure {
    position: relative; }
.blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
    background-image: url("../images/border.png");
    background-repeat: no-repeat;
    height: 200px;
    padding-left: 15px; }
.blue_footer .angle_image img {
    margin-top: -2.2%;
    margin-bottom: 2%; }
.blue_footer h4 {
    font-size: 16px;
    color: #d5dde0;
    line-height: 1;
    text-align: left;
    text-transform: uppercase; }
.blue_footer .vc_toggle_title {
    margin-bottom: 15px; }
.blue_footer .footer_box_1 .panel {
    margin-bottom: 14px;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.blue_footer .footer_box_1 .panel .panel-heading {
    color: #333333;
    background-color: transparent !important;
    border-color: transparent;
    padding: 0;
    border: 0; }
.blue_footer .footer_box_1 h4.panel-title a {
    font-size: 16px; }
.blue_footer .footer_box_1 .panel-body {
    border: 0 !important; }

.copyright h2 {
    margin-top: 0px;
    margin-bottom: 0; }

#blue_footer_section {
    height: 338px; }
#blue_footer_section h5 {
    font-size: 16px;
    color: #d5dde0;
    line-height: 1;
    text-align: left; }

div#copyright_section {
    position: absolute;
    width: 100%;
    z-index: 99999999999;
    margin-top: 0px !important;
    background: #0052ad !important; }
div#copyright_section h2 {
    font-size: 14px;
    color: #afd2f9;
    line-height: 1;
    text-align: left;
    padding: 20px 0px; }

.wps-spothelper.wps-unselectable {
    background-image: url("../images/pin.png");
    background-repeat: no-repeat;
    background-position: 50%; }

#taggingimage:hover .wps-sticky {
    display: block !important; }

.wps-sticky {
    display: none !important; }

div#green_footer_section {
    position: relative;
    display: inline-block;
    left: 0px;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0px 0px -5px 0px !important;
    border-width: 0px !important;
    padding: 0px !important;
    background-color: #439539 !important;
    opacity: 1 !important; }

div#blue_footer_section {
    position: relative;
    display: inline-block;
    left: 0px;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0px !important;
    border-width: 0px !important;
    padding: 0px !important;
    background-color: #053264 !important;
    opacity: 1;
    height: 100%;
    min-height: 338px; }
