@font-face {
  font-family: "PT_sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptc55f-webfont.woff2") format("woff2"), url("../fonts/ptc55f-webfont.woff") format("woff"), url("../fonts/ptc55f-webfont.ttf") format("truetype"), url("../fonts/ptc55f-webfont.svg#PT_sans") format("svg");
}
@font-face {
  font-family: "glyphicons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#Roboto") format("svg");
}
@font-face {
  font-family: "fa";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fa") format("svg");
}
@font-face {
  font-family: "RalewayR";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#RalewayR") format("svg");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
}
.container_full_size:before, .container_full_size:after {
  content: "";
  display: table;
  clear: both;
}

.container_full_size {
  margin-right: auto;
  margin-left: auto;
  background: #fff;
}
.container_full_size .header_sector {
  display: inline-block;
  width: 100%;
  padding: 12px 0 6px;
}
.container_full_size .header_sector .logo img {
  height: 80px;
}
.container_full_size .header_sector span.simple_text {
  font-size: 24px;
  color: #44963a;
  font-family: RalewayR;
  font-style: italic;
  padding: 35px 0 15px;
  display: inline-block;
}
.container_full_size .header_sector .info {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.container_full_size .header_sector .info .telephone_number {
  display: inline-block;
  width: 100%;
  padding: 5px 0 10px;
  font-size: 14px;
}
.container_full_size .header_sector .info .telephone_number span {
  font-size: 20px;
  color: #439539;
  display: inline-block;
  padding-right: 5px;
  margin-top: -3px;
}
.container_full_size .header_sector .info .social {
  display: inline-block;
  padding-bottom: 10px;
}
.container_full_size .header_sector .info .social i {
  font-size: 12px;
  padding-left: 2px;
}
.container_full_size .header_sector .info .social a, .container_full_size .header_sector .info .social a:hover {
  color: #000;
  text-decoration: none;
}
.container_full_size .header_sector .info .lang {
  display: inline-block;
  width: 100%;
}
.container_full_size .header_sector .info .lang span.login {
  float: left;
  height: 22px;
  padding-top: 4px;
}
.container_full_size .header_sector .info .lang span.login a {
  color: #e5322c;
  font-family: PT_sans;
}
.container_full_size .header_sector .info .lang #language_switcher {
  display: inline-block;
}
.container_full_size .header_sector .info .lang #lang_sel {
  height: 22px;
  text-align: left;
}
.container_full_size .header_sector .info .lang #lang_sel li {
  width: 112px;
  height: 22px;
  position: relative;
  z-index: 999;
}
.container_full_size .header_sector .info .lang #lang_sel a.lang_sel_sel, .container_full_size .header_sector .info .lang #lang_sel a.lang_sel_sel:visited {
  background: #c3c3c2;
}
.container_full_size a.navbar-brand {
  display: none !important;
  margin-left: -80px !important;
  margin-top: -5px;
  display: inline-block;
  position: absolute;
}
@media (max-width: 1100px) {
  .container_full_size a.navbar-brand {
    display: none !important;
  }
}
.container_full_size .is-sticky a.navbar-brand {
  display: block !important;
}

nav.navbar.navbar-default {
  background: rgba(0, 82, 173, 0.56);
  border: 0;
  margin: 0;
  min-height: 56px;
  height: 56px;
  position: relative;
  z-index: 1;
  border-radius: 0;
}
nav.navbar.navbar-default .navbar-nav > .active > a,
nav.navbar.navbar-default .navbar-nav > .active > a:hover,
nav.navbar.navbar-default .navbar-nav > .active > a:focus {
  background: #439539;
  color: #fff;
}
nav.navbar.navbar-default .navbar-nav a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: PT_sans;
  width: 100%;
  display: block;
}
nav.navbar.navbar-default .navbar-nav > li > a {
  padding: 21px 12px;
}
nav.navbar.navbar-default .navbar-collapse {
  height: 56px !important;
  display: inline-block !important;
  padding: 0 !important;
}
nav.navbar.navbar-default .search-form_header {
  display: inline-block;
  width: 20%;
  float: right;
  margin-right: 2%;
}
nav.navbar.navbar-default .search-form_header form {
  text-align: right;
  padding-right: 5px;
}
nav.navbar.navbar-default .search-form_header form .input-group.clearfix input {
  width: 200px !important;
  background: #b4c1d1;
  border-radius: 0;
  border: 1px solid #fff;
  height: 31px;
}
nav.navbar.navbar-default .search-form_header form button.btn-transparent {
  display: inline-block;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  background: transparent;
  height: 31px;
  margin-left: -50px;
  position: relative;
  z-index: 13;
}

.navbar.navbar-default.is-sticky {
  background: #042850;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.slider a.link_image img {
  height: 606px !important;
}

.padding_between:before, .padding_between:after {
  content: "";
  display: block;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.9) 0%, transparent 90%);
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  bottom: 30px;
  margin-top: -8px;
  margin-bottom: 4px;
}

.padding_between:after {
  margin-bottom: -9px;
  margin-top: 6px;
}

.padding_between:hover:before, .padding_between:focus:before, .padding_between:active:before, .padding_between:hover:after, .padding_between:focus:after, .padding_between:active:after {
  opacity: 1;
}

li.open > a {
  background-color: #439539 !important;
}

.navbar-nav > li ul {
  background: #439539;
  padding: 0;
}
.navbar-nav > li ul li {
  border-bottom: 1px solid #0C3607;
  padding: 0;
}
.navbar-nav > li ul li a {
  padding: 5px 10px;
}
.navbar-nav > li ul li a:hover {
  background: #000;
}

div#mega-menu-wrap-primary {
  font-family: OpenSans;
  background: transparent;
  float: left;
  /* .menu li.menu-item-has-children ul li  a:before{
     display: none!important;
   }*/
}
div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
  line-height: 12px !important;
  height: 56px !important;
}
div#mega-menu-wrap-primary .mega-current-page-ancestor > a {
  background: #439539 !important;
}
div#mega-menu-wrap-primary .mega-current_page_item > a {
  background: #127B06 !important;
}
div#mega-menu-wrap-primary .widget_text h4.mega-block-title {
  background: #053264;
  font-size: 25px !important;
  padding: 10px !important;
  text-align: center;
}
div#mega-menu-wrap-primary .widget_text h4.mega-block-title:after {
  content: "";
  display: block;
  float: left;
  width: 100px;
  height: 1px;
  position: absolute;
  background: black;
  top: 35%;
  left: 30%;
  z-index: 99;
}
div#mega-menu-wrap-primary .widget_text .textwidget {
  background: #053264 !important;
  padding: 10px !important;
}
div#mega-menu-wrap-primary .menu li.menu-item-has-children ul li a {
  font-size: 12px !important;
  display: block !important;
  width: 100% !important;
}
div#mega-menu-wrap-primary .menu li.menu-item-has-children ul li a:before {
  content: "+";
  display: inline-block !important;
  font-size: 12px;
}
div#mega-menu-wrap-primary .menu > li > a:before {
  content: "";
  display: block !important;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #F0F0F0;
  float: left;
  margin-left: -11px;
  margin-top: 6px;
  float: left;
}

div#mega-menu-wrap-primary .menu li ul {
  display: block !important;
  overflow: visible !important;
  height: 100% !important;
}

ul.mega-sub-menu {
  padding: 0px 15px 0 30px !important;
}

#navbar-sticky-wrapper button.navbar-toggle {
  margin-left: 24px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
  padding: 15px 15px 15px 3px;
}

.navbar-header.is-sticky {
  background: #fff;
}

.is-sticky {
  position: fixed !important;
  top: 0;
  z-index: 9999999 !important;
  width: 100%;
}

ul.navbar-nav li:hover ul.sub-menu {
  display: block;
  position: absolute;
  min-width: 250px;
}

ul.navbar-nav > li:hover > ul.sub-menu > li {
  position: relative;
}

ul.navbar-nav li:hover ul.sub-menu:hover > li:hover > ul.sub-menu {
  display: block;
  position: absolute;
  min-width: 250px;
  top: 0;
  left: 100%;
}

ul.nav ul.sub-menu {
  display: none;
  min-width: 250px;
}

ul.nav ul.sub-menu ul.sub-menu {
  display: none;
  min-width: 250px;
}

.under_header_color {
  display: block;
  width: 100%;
}
.under_header_color .box_1, .under_header_color .box_2, .under_header_color .box_3, .under_header_color .box_4 {
  width: 25%;
  float: left;
  margin-right: 0;
  height: 11px;
}
.under_header_color .box_1 {
  background: #059fdf;
}
.under_header_color .box_2 {
  background: #ffbd35;
}
.under_header_color .box_3 {
  background: #3c7e74;
}
.under_header_color .box_4 {
  background: #b0c039;
}

.footer_side {
  line-height: 1;
}
.footer_side .image_footer_full_size img {
  display: inline-block;
  margin-top: -45px;
}
.footer_side .text_title p {
  font-size: 33px;
  font-family: RalewayR;
  color: #102c49;
  text-transform: uppercase;
  padding-top: 15px;
}
.footer_side .text_title p strong {
  color: #fff;
  font-weight: normal;
}

.blue_footer .footer_box_1, .blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
  color: #fff;
  font-family: OpenSans;
  position: relative;
  z-index: 999;
}
.blue_footer .footer_box_1 h5, .blue_footer .footer_box_2 h5, .blue_footer .footer_box_3 h5, .blue_footer .footer_box_4 h5 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  padding: 0 0 26px 0;
}
.blue_footer .footer_box_1 p, .blue_footer .footer_box_1 a, .blue_footer .footer_box_1 a:hover, .blue_footer .footer_box_2 p, .blue_footer .footer_box_2 a, .blue_footer .footer_box_2 a:hover, .blue_footer .footer_box_3 p, .blue_footer .footer_box_3 a, .blue_footer .footer_box_3 a:hover, .blue_footer .footer_box_4 p, .blue_footer .footer_box_4 a, .blue_footer .footer_box_4 a:hover {
  line-height: 1.3;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.blue_footer .footer_box_3 p a i {
  width: 20px;
  line-height: 1.5;
}
.blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
  background: transparent;
  margin-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #3e6b9c;
  height: 30px;
  width: 100%;
}
.blue_footer .footer_box_4 label {
  display: none;
}
.blue_footer .footer_box_4 input:focus, .blue_footer .footer_box_4 textarea:focus, .blue_footer .footer_box_4 input:visited, .blue_footer .footer_box_4 textarea:visited {
  outline: 0;
}
.blue_footer .footer_box_4 textarea {
  height: 70px;
}
.blue_footer .footer_box_4 button[type="submit"] {
  text-transform: uppercase;
  color: #fff;
  height: 30px;
  padding: 8px;
  background-color: #439539;
  font-family: OpenSans;
  border-radius: 0;
}
.blue_footer .footer_box_4 div {
  padding: 0;
}
.blue_footer .wpb_single_image.wpb_content_element.vc_align_center {
  position: absolute;
  left: 0;
  right: 0;
  top: 103px;
  background: #053264;
  z-index: 1;
  text-align: center;
}
.blue_footer .wpb_single_image.wpb_content_element.vc_align_center figure.wpb_wrapper.vc_figure {
  position: relative;
}
.blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
  background-image: url("../images/border.png");
  background-repeat: no-repeat;
  height: 200px;
  padding-left: 15px;
}
.blue_footer .angle_image img {
  margin-top: -2.2%;
  margin-bottom: 2%;
}
.blue_footer h4 {
  font-size: 16px;
  color: #d5dde0;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
.blue_footer .vc_toggle_title {
  margin-bottom: 15px;
}
.blue_footer .footer_box_1 .panel {
  margin-bottom: 14px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.blue_footer .footer_box_1 .panel .panel-heading {
  color: #333333;
  background-color: transparent !important;
  border-color: transparent;
  padding: 0;
  border: 0;
}
.blue_footer .footer_box_1 h4.panel-title a {
  font-size: 16px;
}
.blue_footer .footer_box_1 .panel-body {
  border: 0 !important;
}

.copyright h2 {
  margin-top: 0px;
  margin-bottom: 0;
}

#blue_footer_section {
  height: 338px;
}
#blue_footer_section h5 {
  font-size: 16px;
  color: #d5dde0;
  line-height: 1;
  text-align: left;
}

div#copyright_section {
  position: absolute;
  width: 100%;
  z-index: 99999999999;
  margin-top: 0px !important;
  background: #0052ad !important;
}
div#copyright_section h2 {
  font-size: 14px;
  color: #afd2f9;
  line-height: 1;
  text-align: left;
  padding: 20px 0px;
}

.wps-spothelper.wps-unselectable {
  background-image: url("../images/pin.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

#taggingimage:hover .wps-sticky {
  display: block !important;
}

.wps-sticky {
  display: none !important;
}

div#green_footer_section {
  position: relative;
  display: inline-block;
  left: 0px;
  box-sizing: border-box;
  width: 100% !important;
  margin: 0px 0px -10px 0px !important;
  border-width: 0px !important;
  padding: 0px !important;
  background-color: #439539 !important;
  opacity: 1 !important;
}

div#blue_footer_section {
  position: relative;
  display: inline-block;
  left: 0px;
  box-sizing: border-box;
  width: 100% !important;
  margin: 0px !important;
  border-width: 0px !important;
  padding: 0px !important;
  background-color: #053264 !important;
  opacity: 1;
  height: 100%;
  min-height: 338px;
}

/***********reponsive*****/
@media only screen and (max-width: 768px) {
  #navbar-sticky-wrapper button.navbar-toggle {
    background: #fff;
  }

  body.admin-bar nav#navbar-sticky-wrapper {
    margin-top: 40px;
  }

  div#bs-example-navbar-collapse-1 ul li a {
    padding-left: 50px !important;
  }

  header .container {
    padding-left: 0 !important;
  }
  header .container div#mega-menu-wrap-primary {
    width: 100%;
  }
  header .container div#mega-menu-wrap-primary .mega-menu-toggle {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
  header .container div#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-left {
    float: left;
    margin-left: -2px;
    margin-top: -5px;
  }
  header .container div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    line-height: 39px !important;
    height: 39px !important;
    width: 100%;
    background: rgba(94, 106, 138, 0.75);
  }
  header .container div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a:hover.mega-menu-link {
    background: #7DAF5F;
  }

  /*header*/
  #navbar-sticky-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
  }
  #navbar-sticky-wrapper button.navbar-toggle {
    float: left;
    background: transparent;
    color: #000;
    border: 0;
  }
  #navbar-sticky-wrapper button.navbar-toggle span {
    background-color: #000000;
  }

  .search-form_header {
    display: none !important;
  }

  .logo img {
    margin: 0 auto;
    margin-top: 0px;
  }

  div#bs-example-navbar-collapse-1 {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 9999;
  }
  div#bs-example-navbar-collapse-1 ul li {
    width: 100%;
    background: #fff;
  }
  div#bs-example-navbar-collapse-1 ul li a {
    color: #000;
    border-bottom: 1px dotted #000;
    padding-left: 30px !important;
  }

  nav.navbar.navbar-default .navbar-collapse.collapse.in {
    display: none !important;
  }

  nav#navbar-sticky-wrapper .container {
    margin: 0;
    padding-right: 0;
  }
  nav#navbar-sticky-wrapper .container div#bs-example-navbar-collapse-1 {
    padding-right: 0;
  }
  nav#navbar-sticky-wrapper .container div#bs-example-navbar-collapse-1 .navbar-nav {
    margin: 0px -15px;
  }

  .container_full_size .header_sector span.simple_text {
    padding: 8px 0 6px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
  }
  .container_full_size .header_sector .info {
    text-align: center;
  }
  .container_full_size .header_sector .info .telephone_number {
    display: none;
  }
  .container_full_size .header_sector .info .social {
    padding-bottom: 0px;
    float: left;
    margin-left: 0;
    width: 100%;
  }

  .banner {
    margin-top: 0px;
    min-height: auto !important;
  }

  .responsive-slider.flexslider .slide-title a {
    margin-top: 0;
    font-size: 12px;
    padding: 11px 10px 10px 20px;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 0;
    width: 60%;
    text-align: center;
  }
  .responsive-slider.flexslider h2 {
    display: none;
  }

  div#scroll_to span.btn_srcoll i.fa.fa-chevron-circle-down {
    top: -30px;
  }

  .about .about_us .vc_separator.vc_separator_align_center h4 {
    font-size: 25px;
  }
  .about .about_us .wpb_content_element {
    padding-top: 30px !important;
    padding-bottom: 0px !important;
  }
  .about .about_us .leran_more_btn {
    padding: 0 0 30px !important;
    margin: 0;
  }
  .about .about_us .leran_more_btn button {
    font-size: 14px !important;
  }

  .leran_more_btn .padding_between {
    width: 210px;
  }

  .news_section .vc_grid-item-mini.vc_clearfix {
    padding-right: 30px;
  }
  .news_section h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important;
  }
  .news_section .latest_news_block {
    background-image: none;
  }
  .news_section .latest_news_block .vc_gitem-is-link {
    width: 100%;
    height: 110px;
  }
  .news_section .latest_news_block .vc_gitem-animated-block {
    width: 100%;
  }
  .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c {
    width: 100%;
    font-size: 12px !important;
    height: 110px;
    margin: 0;
  }
  .news_section .latest_news_block .vc_custom_heading p:nth-child(2) {
    height: 33px;
    overflow: hidden;
    line-height: 1.4;
    padding-right: 10px;
    margin-bottom: -4px;
  }
  .news_section .latest_news_post {
    padding: 0 !important;
  }

  .calendar {
    padding-left: 0;
  }

  .instagram h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important;
  }
  .instagram .sbi_item.sbi_type_image:nth-child(3) a, .instagram .sbi_item.sbi_type_video:nth-child(3) a {
    display: none !important;
  }
  .instagram .sbi_item.sbi_type_image:nth-child(4) a, .instagram .sbi_item.sbi_type_video:nth-child(4) a {
    display: none !important;
  }
  .instagram .sbi_item.sbi_type_image:nth-child(5) a, .instagram .sbi_item.sbi_type_video:nth-child(5) a {
    display: none !important;
  }
  .instagram .sbi_item.sbi_type_image:nth-child(6) a, .instagram .sbi_item.sbi_type_video:nth-child(6) a {
    display: none !important;
  }

  .academics h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important;
  }
  .academics .circle_1 {
    padding: 8% 32px;
  }
  .academics .circle_2 {
    padding: 10% 32px;
  }
  .academics .circle_3 {
    padding: 10% 32px;
  }
  .academics .circle_4 {
    padding: 10% 32px;
  }
  .academics .vc_col-sm-3 {
    margin-bottom: 50px;
  }
  .academics h4, .academics h5 {
    font-size: 16px !important;
  }

  .education_section {
    padding: 30px 0 !important;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
    padding: 18px 13px;
    right: 0;
    left: 25%;
    width: 300px;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element .title {
    font-size: 17px;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element p {
    font-size: 12px;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a, .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a:hover {
    font-size: 12px;
  }

  .services_section h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 30px 0 !important;
  }
  .services_section h3 {
    font-size: 16px !important;
  }
  .services_section .circle_1 {
    padding: 8% 32px;
  }
  .services_section .circle_2 {
    padding: 6% 32px;
  }
  .services_section .circle_3 {
    padding: 6% 32px;
  }
  .services_section .vc_col-sm-4 {
    margin-bottom: 50px;
  }
  .services_section .leran_more_btn {
    padding: 10px !important;
    padding-bottom: 100px !important;
  }

  #work_section h2 {
    text-align: center !important;
    font-size: 25px !important;
    padding: 20px !important;
  }
  #work_section img {
    padding: 25px;
    width: 320px;
  }
  #work_section .video_inside {
    width: 258px;
    margin: 0 auto;
    margin-bottom: -178px;
  }

  .footer_side .vc_single_image-wrapper.vc_box_border_grey {
    display: none;
  }
  .footer_side p {
    font-size: 21px !important;
    text-align: center;
    padding: 10px !important;
  }

  .blue_footer h4 {
    text-align: center !important;
  }
  .blue_footer .angle_image {
    display: none;
  }
  .blue_footer .footer_box_1, .blue_footer .footer_box_2, .blue_footer .footer_box_3, .blue_footer .footer_box_4 {
    height: auto !important;
    padding-left: 0 !important;
    background-image: none !important;
    margin-top: 10px !important;
  }
  .blue_footer .footer_box_1 h5, .blue_footer .footer_box_2 h5, .blue_footer .footer_box_3 h5, .blue_footer .footer_box_4 h5 {
    padding: 12px !important;
    text-align: center !important;
  }
  .blue_footer .footer_box_1 p, .blue_footer .footer_box_1 a, .blue_footer .footer_box_1 a:hover, .blue_footer .footer_box_2 p, .blue_footer .footer_box_2 a, .blue_footer .footer_box_2 a:hover, .blue_footer .footer_box_3 p, .blue_footer .footer_box_3 a, .blue_footer .footer_box_3 a:hover, .blue_footer .footer_box_4 p, .blue_footer .footer_box_4 a, .blue_footer .footer_box_4 a:hover {
    text-align: center !important;
  }
  .blue_footer .footer_box_4 {
    margin-bottom: 30px;
  }
  .blue_footer .footer_box_4 input[type="submit"] {
    margin-top: 30px;
  }
  .blue_footer .wpb_single_image.wpb_content_element.vc_align_center {
    top: initial !important;
    bottom: 0;
  }

  .copyright {
    margin: 0 !important;
  }

  .how_to_work .vc_single_image-wrapper {
    margin-bottom: 0px;
  }

  #green_footer_section .footer_side .text_title p {
    font-size: 19px !important;
  }
  #green_footer_section .col-md-3 {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 480px) {
  .academics .circle_1 {
    padding: 14% 32px;
  }
  .academics .circle_2 {
    padding: 16% 32px;
  }
  .academics .circle_3 {
    padding: 15% 32px;
  }
  .academics .circle_4 {
    padding: 15% 32px;
  }

  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
    padding: 18px 13px;
    right: 0;
    left: 10%;
    width: 300px;
  }

  .services_section .circle_1 {
    padding: 12% 32px;
  }
  .services_section .circle_2 {
    padding: 9% 32px;
  }
  .services_section .circle_3 {
    padding: 10% 32px;
  }

  .leran_more_btn .padding_between button {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .search-form_header {
    display: none !important;
  }

  .logo img {
    margin: 0 auto;
    margin-top: 0px;
  }

  .about .about_us .vc_separator.vc_separator_align_center h4 {
    font-size: 36px !important;
  }
  .about .about_us .wpb_content_element {
    padding: 30px 0 0 0 !important;
  }

  .container_full_size .header_sector span.simple_text {
    padding: 8px 0 6px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
  }
  .container_full_size .header_sector .info .telephone_number {
    margin: 0 auto;
    text-align: center;
  }
  .container_full_size .header_sector .info .social {
    padding-bottom: 0px;
    float: left;
    margin-left: 0;
    width: 43%;
    padding-right: 3%;
  }
  .container_full_size .header_sector .info .lang {
    width: 57%;
    float: right;
  }
  .container_full_size .header_sector .info .lang span.login {
    padding-top: 0;
  }
  .container_full_size .header_sector .info .lang span.login a {
    font-size: 12px;
  }

  .banner {
    margin-top: 0px;
    min-height: auto !important;
  }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 14px;
  }

  nav.navbar.navbar-default .navbar-collapse {
    padding-left: 7%;
  }

  .responsive-slider.flexslider .slide-title a {
    margin-top: 2%;
    font-size: 23px;
  }

  h2 {
    font-size: 36px !important;
    padding: 30px 0 !important;
  }

  .news_section .latest_news_block {
    background-image: none;
  }
  .news_section .latest_news_block .vc_gitem-is-link {
    width: 110px;
    height: 110px;
  }
  .news_section .latest_news_block .vc_gitem-animated-block {
    width: 115px;
  }
  .news_section .latest_news_block .vc_gitem-zone.vc_gitem-zone-c {
    width: 65%;
    font-size: 12px !important;
    height: 110px;
  }
  .news_section .latest_news_block .vc_custom_heading p:nth-child(2) {
    height: 33px;
    overflow: hidden;
    line-height: 1.4;
    padding-right: 10px;
    margin-bottom: -4px;
  }
  .news_section .latest_news_block .vc_grid.vc_row .vc_grid-item {
    padding-right: 30px;
    width: 100%;
  }
  .news_section .latest_news_post {
    padding: 0 !important;
  }

  .academics .circle_2, .academics .circle_3, .academics .circle_4 {
    padding: 51px 32px;
  }
  .academics .circle_1 {
    padding: 45px 32px;
  }

  .education_section {
    padding: 30px 0 !important;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element {
    padding: 18px 13px;
    right: 0;
    left: 25%;
    width: 300px;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element .title {
    font-size: 17px;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element p {
    font-size: 12px;
  }
  .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a, .education_section .education_blocks .education_post_1 .wpb_text_column.wpb_content_element a:hover {
    font-size: 12px;
  }

  .services_section .circle_1 {
    padding: 45px 32px;
  }
  .services_section .circle_2 {
    padding: 30px 32px;
  }
  .services_section h2 {
    padding: 30px 0px !important;
  }

  .footer_side p {
    font-size: 24px;
    padding-top: 22px;
  }

  .copyright {
    margin-top: 117px !important;
  }
  .copyright h2 {
    font-size: 14px !important;
  }

  .blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    background: transparent;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #3e6b9c;
    height: 30px;
    width: 200px;
  }

  .mega-menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
  }

  ul#mega-menu-primary {
    width: 100% !important;
    background: rgba(5, 50, 100, 0.76) !important;
  }

  ul#mega-menu-primary li {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1225px) and (min-width: 1025px) {
  div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 12px;
    padding: 21px 5px;
  }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 14px;
  }

  .copyright {
    margin-top: 115px !important;
  }

  .blue_footer .footer_box_4 input, .blue_footer .footer_box_4 textarea {
    width: 200px;
  }
}
@media (min-width: 836px) and (max-width: 1025px) {
  body.admin-bar nav#navbar-sticky-wrapper {
    margin-top: 40px;
  }

  /*  .navbar-toggle {
      display: block!important;
      background: #fff!important;
    }*/
  div#bs-example-navbar-collapse-1 ul li a {
    padding-left: 10px !important;
  }

  div#bs-example-navbar-collapse-1 ul.site-p2_haut-lac_net li a {
    padding-left: 5px !important;
  }

  nav.navbar.navbar-default .navbar-nav > li > a {
    padding: 21px 8px !important;
  }

  nav.navbar.navbar-default .navbar-nav.site-p2_haut-lac_net > li > a {
    padding: 21px 8px !important;
  }

  nav.navbar.navbar-default ul.navbar-nav.site-p1_haut-lac_net > li > a {
    padding: 21px 10px !important;
  }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 11px !important;
  }

  nav.navbar.navbar-default .navbar-nav.site-p2_haut-lac_net a {
    font-size: 11px !important;
  }

  div#bs-example-navbar-collapse-1 ul.site-p1_haut-lac_net li a {
    font-size: 12px !important;
  }

  .container_full_size .header_sector .info .social {
    width: 100%;
    padding-right: 47%;
  }

  nav.navbar.navbar-default ul.navbar-nav.site-p1_haut-lac_net {
    padding-left: 20px !important;
  }
}
@media (min-width: 769px) and (max-width: 835px) {
  body.admin-bar nav#navbar-sticky-wrapper {
    margin-top: 40px;
  }

  /*  .navbar-toggle {
      display: block!important;
      background: #fff!important;
    }*/
  div#bs-example-navbar-collapse-1 ul li a {
    padding-left: 10px !important;
  }

  nav.navbar.navbar-default .navbar-nav > li > a {
    padding: 21px 10px !important;
  }

  nav.navbar.navbar-default .navbar-nav a {
    font-size: 10px !important;
  }

  div#bs-example-navbar-collapse-1 ul.site-p4_haut-lac_net li a {
    font-size: 12px !important;
  }

  ul.site-p2_haut-lac_net li {
    max-width: 150px !important;
    text-align: center !important;
  }

  div#bs-example-navbar-collapse-1 ul.site-p2_haut-lac_net, div#bs-example-navbar-collapse-1 ul.site-e1_haut-lac_net, div#bs-example-navbar-collapse-1 ul.site-e2_haut-lac_net, div#bs-example-navbar-collapse-1 ul.site-e3_haut-lac_net, div#bs-example-navbar-collapse-1 ul.site-p5_haut-lac_net {
    margin-left: 45px !important;
  }

  .container_full_size .is-sticky a.navbar-brand {
    display: block !important;
    margin-left: 0 !important;
  }

  .container_full_size .header_sector .info .social {
    width: 100%;
    padding-right: 47%;
  }

  .container_full_size .is-sticky a.navbar-brand img {
    margin-left: -15px !important;
  }
}
.entry iframe {
  float: left;
  width: 100%;
}
