// Used for creating the source string for fonts using @font-face
// Reference: http://goo.gl/Ru1bKP

$asset-pipeline: false !default;

@function contains($list, $values...) {
  @each $value in $values {
    @if type-of(index($list, $value)) != "number" {
      @return false;
    }
  }

  @return true;
}


@function font-url-prefixer($asset-pipeline) {
  @if $asset-pipeline == true {
    @return font-url;
  } @else {
    @return url;
  }
}

@function font-source-declaration(
  $font-family,
  $file-path,
  $asset-pipeline,
  $file-formats,
  $font-url) {

  $src: ();

  $formats-map: (
          eot:   "#{$file-path}.eot?#iefix" format("embedded-opentype"),
          woff2: "#{$file-path}.woff2" format("woff2"),
          woff:  "#{$file-path}.woff" format("woff"),
          ttf:   "#{$file-path}.ttf" format("truetype"),
          svg:   "#{$file-path}.svg##{$font-family}" format("svg")
  );

  @each $key, $values in $formats-map {
    @if contains($file-formats, $key) {
      $file-path: nth($values, 1);
      $font-format: nth($values, 2);

      @if $asset-pipeline == true {
        $src: append($src, font-url($file-path) $font-format, comma);
      } @else {
        $src: append($src, url($file-path) $font-format, comma);
      }
    }
  }

  @return $src;
}


@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff2 woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
                    $font-family,
                    $file-path,
                    $asset-pipeline,
                    $file-formats,
                    $font-url-prefix
    );
  }
}


@include font-face("PT_sans", "../fonts/ptc55f-webfont", $file-formats: eot woff2 woff ttf svg);
@include font-face("glyphicons", "../fonts/glyphicons-halflings-regular", $file-formats: eot woff2 woff ttf svg);
@include font-face("Roboto", "../fonts/roboto-regular-webfont", $file-formats: eot woff2 woff ttf svg);
@include font-face("fa", "../fonts/fontawesome-webfont", $file-formats: eot woff2 woff ttf svg);
@include font-face("RalewayR", "../fonts/Raleway-Regular", $file-formats: eot woff ttf svg);
@include font-face("Oswald", "../fonts/Oswald-Regular", $file-formats: eot woff ttf svg);
@include font-face("OpenSans", "../fonts/OpenSans", $file-formats: eot woff ttf svg);
